.evo-calendar {
    position: relative;
    background-color: #000d13;
    width: 100%;
    box-shadow: 0 10px 50px -20px #8773c1;
    overflow: hidden;
    z-index: 1;
}

.calendar-sidebar {
    position: absolute;
    margin-top: 0;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #033952;
    color: #fff;
    z-index: 1;
    box-shadow: 5px 0 18px -3px #1d2338;
    transition: all 0.3s ease;
    transform: translateX(0);
}

.sidebar-hide .calendar-sidebar {
    transform: translateX(-100%);
    box-shadow: none;
}
.calendar-sidebar > span#sidebarToggler {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 1px;
    transform: translate(100%, 0);
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}

.calendar-sidebar > .calendar-year {
    padding: 11px;
    text-align: left;
}
.calendar-sidebar > .calendar-year > p {
    margin: 0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.calendar-sidebar > .calendar-year > button.icon-button {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.calendar-sidebar > .calendar-year > button.icon-button > span {
	display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 8px;
    height: 8px;
}
.calendar-sidebar > .calendar-year > img[year-val="prev"] {
    float: left;
}
.calendar-sidebar > .calendar-year > img[year-val="next"] {
    float: right;
}
.calendar-table th > button.icon-button {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.calendar-table th > button.icon-button > span {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 50%;
    height: 50%;
}
.calendar-sidebar > .calendar-months {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.calendar-sidebar > .calendar-months > li {
    padding: 2px 15px;
    cursor: pointer;
    font-size: 12px;
}
.calendar-sidebar > .calendar-months > li:hover,
.calendar-sidebar > .calendar-months > li.active-month {
    background-color: #000d13;
}
.calendar-inner {
	padding: 10px 25px 20px;
    float: initial;
    width: 100%;
    margin-left: 0;
    background-color: #000d13;
    box-shadow: 5px 0 18px -3px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
.sidebar-hide .calendar-inner {
    width: 100%;
    margin-left: 0;
}
.event-hide .calendar-inner {
    width: calc(100% - 200px);
}
.event-hide.sidebar-hide .calendar-inner {
    width: 100%;
}
.calendar-inner .calendar-table {
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;
    user-select: none;
}
.calendar-table th[colspan="4"] > div {
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
    width: auto;
    color: #fff;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.calendar-table th[colspan="4"] > div > button {
    width: 35px;
    height: 50px;
}
.calendar-table th[colspan="4"] > div > p {
    margin: 4px 0 0;
}
#sidebarToggler {
    text-align: right;
    width: 100%;
    display: block;
}
#sidebarToggler button.icon-button {
    background: #001620;
    border-radius: 50px;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 5px 5px;
}
#sidebarToggler button.icon-button > span {
    color: #033952;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0 15px;
    border-radius: 50px;
}
#sidebarToggler button.icon-button > span.active {
    background: #000d13;
}
tr.calendar-header {

}
tr.calendar-header .calendar-header-day {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #033952;
    font-weight: bold;
}
tr.calendar-header .calendar-header-day.header-day-active {
    color: #ff4d6f;
}

tr.calendar-body {
    
}
tr.calendar-body .calendar-day {
    padding: 10px;
}
tr.calendar-body .calendar-day .day {
    position: relative;
    padding: 1px;
    height: 21px;
    width: 21px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease, -webkit-transform .5s ease;
    transition: all .3s ease, -webkit-transform .5s ease;
    -o-transition: all .3s ease, transform .5s ease;
    transition: all .3s ease, transform .5s ease;
    transition: all .3s ease, transform .5s ease, -webkit-transform .5s ease;
    cursor: pointer;
    font-size: 12px;
    color: #4b4b50;
}
tr.calendar-body .calendar-day .day.lastmonth_day,
tr.calendar-body .calendar-day .day.nextmonth_day {
    color: #d4d4dd;
}
tr.calendar-body .calendar-day .day:hover {
    background-color: #639db7;
}
tr.calendar-body .calendar-day .day:active {
    transform: scale(0.9);
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #5a5a5a;
    border-color: rgba(0, 0, 0, 0.5);
    background-color: #639db7;
}

tr.calendar-body .calendar-day .day.calendar-today {
    color: #fff;
    background-color: #033952;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #145c7e;
}
/* yellow
tr.calendar-body .calendar-day .day.calendar-today {
    color: #60afa1;
    background-color: #c3f2ea;
}
tr.calendar-body .calendar-day .day.calendar-today:hover {
    color: #fff;
    background-color: #60afa1;
}*/
/*tr.calendar-body .calendar-day .day.calendar-event {
    color: #e09d9d;
    background-color: #ffc1c1;
}
tr.calendar-body .calendar-day .day.calendar-event:hover{
    color: #fff;
    background-color: #e09d9d;
}*/
/*tr.calendar-body .calendar-day .day.calendar-holiday {
    color: #e8af00;
    background-color: #ffe6a4;
}
tr.calendar-body .calendar-day .day.calendar-holiday:hover{
    color: #fff;
    background-color: #e8af00;
}*/
tr.calendar-body .calendar-day .day[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background-color: transparent;
    color: #b9b9b9;
}


.calendar-events {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 240px;
    padding: 25px;
    background-color: #001119;
    transition: all .3s ease;
    overflow: auto;
    z-index: -1;
}
.calendar-events > div > p {
    font-size: 14px;
    color: #fff;
}
.calendar-events > .event-header {
    display: none;
}
.calendar-events > .event-header > p {
    font-size: 21px;
    font-weight: 600;
    color: #fff;
}
#eventListToggler {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 0 18px -3px #8773c1;
}

#eventAddButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #8773c1;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    box-shadow: 5px 0 18px -3px #8773c1;
}
#eventAddButton > img {
    width: 40px;
}

.event-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: default;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.event-container > .event-icon {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 60px;
    height: 60px;
    float: left;
}
.event-container > .event-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 29px;
    width: 2px;
    height: calc(100% + 10px);
    background-color: #eaeaea;
    z-index: -1;
}
.event-container:last-child > .event-icon::before {
    height: calc(50% + 10px);
}
.event-container:first-child > .event-icon::before {
    top: 50%;
    height: calc(50% + 10px);
}
.event-container:only-child > .event-icon::before {
    opacity: 0;
}
.event-container > .event-icon > img {
    width: 30px;
}
.event-container > .event-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}
.event-container > .event-info > .event-time {
    display: inline-block;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}
.event-container > .event-info > p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}
.event-container > .event-link > a {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
}


.event-indicator {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 100%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-100% + -5px));
        -ms-transform: translate(-50%, calc(-100% + -5px));
            transform: translate(-50%, calc(-100% + -5px));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.event-indicator > .type-bullet {
    display: inline-block;
    float: left;
    padding: 1px;
    margin: 3px 0 0;
}
.event-indicator > .type-bullet > div.type-event,
.event-indicator > .type-bullet > div.type-holiday,
.event-indicator > .type-bullet > div.type-birthday {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-container > .event-icon > div.event-bullet-holiday,
.event-container > .event-icon > div.event-bullet-birthday {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.event-container > .event-icon > div.event-bullet-event,
.event-indicator > .type-bullet > div.type-event {
    background-color: #ff7575;
}
.event-container > .event-icon > div.event-bullet-holiday,
.event-indicator > .type-bullet > div.type-holiday {
    background-color: #ffc107;
}
.event-container > .event-icon > div.event-bullet-birthday,
.event-indicator > .type-bullet > div.type-birthday {
    background-color: #3ca8ff;
}


button.icon-button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
button.icon-button > span.bars {
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    background-color: #fff;
}
button.icon-button > span.bars::before,
button.icon-button > span.bars::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    display: block;
    background-color: #fff;
}
button.icon-button > span.bars::before {
    top: -12px;
}
button.icon-button > span.bars::after {
    bottom: -12px;
}
button.icon-button > span.chevron-arrow-left {
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 8px;
    height: 8px;
    transform: rotate(-225deg);
}
button.icon-button > span.chevron-arrow-right {
    display: inline-block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
}
/*tr.calendar-body .calendar-day .day.calendar-active {
    color: #7e57c2;
    background-color: #d5b2f6;
}
tr.calendar-body .calendar-day .day.calendar-active:hover {
    color: #fff;
    background-color: #7e57c2;
}
tr.calendar-body .calendar-day .day:hover,
tr.calendar-body .calendar-day .day.calendar-active {
    border-color: #5a5a5a;
}*/


/* 1199 */
@media only screen and (max-width: 1199px) {
	.calendar-inner {
		padding: 10px 10px 20px;
	}
	tr.calendar-body .calendar-day .day {
		padding: 5px;
		height: 40px;
		width: 40px;
		font-size: 16px;
    }
    .event-indicator > .type-bullet > div.type-event,
    .event-indicator > .type-bullet > div.type-holiday,
    .event-indicator > .type-bullet > div.type-birthday {
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    .calendar-sidebar > span#sidebarToggler,
    #eventListToggler {
        width: 50px;
        height: 50px;
    }
    button.icon-button > span.bars {
        height: 4px;
    }
    button.icon-button > span.bars::before,
    button.icon-button > span.bars::after {
        height: 4px;
    }
    button.icon-button > span.bars::before {
        top: -10px;
    }
    button.icon-button > span.bars::after {
        bottom: -10px;
    }

}
/* md */
@media only screen and (max-width: 991px) {
    .calendar-sidebar {
        width: 150px;
    }
    .calendar-inner {
        padding: 40px 10px 30px 10px;
    }
    .calendar-events {
        padding: 30px 40px;
    }
}

/* sm */
@media only screen and (max-width: 768px) {
    .sidebar-hide .calendar-inner,
    .sidebar-hide .calendar-events {
        width: 100%;
    }
    .event-hide .calendar-inner {
        width: calc(100% - 130px);
    }
    .event-hide .calendar-inner {
        transform: translateX(-100%);
        box-shadow: none;
    }
    .calendar-sidebar > .calendar-year > button.icon-button {
        width: 16px;
        height: 16px;
    }
    .calendar-sidebar > .calendar-year > button.icon-button > span {
        border-right-width: 2px;
        border-bottom-width: 2px;
    }
    .calendar-sidebar > .calendar-year > p {
        font-size: 22px;
    }
    .calendar-sidebar > .calendar-months > li {
        padding: 7px 15px;
    }
    .calendar-events > .event-header > p {
        margin: 0;
    }
}

/* xs */
@media only screen and (max-width: 575px) {
    .calendar-inner {
        width:100%;
        margin-left: 0;
        padding: 15px 5px 30px;
    }
    .sidebar-hide .calendar-inner,
    .event-hide .calendar-inner {
        width: 100%;
    }
    .calendar-inner,
    .calendar-events {
        width: 100%;
    }
    .event-hide .calendar-inner {
        transform: translateX(-100%);
        box-shadow: none;
    }
    tr.calendar-header .calendar-header-day {
        padding: 0 0 5px;
    }
    tr.calendar-body .calendar-day {
        padding: 5px;
    }
    tr.calendar-body .calendar-day .day {
		padding: 2px;
		width: 20px;
		height: 20px;
		font-size: 10px;
    }
    .event-indicator {
        transform: translate(-50%, calc(-100% + -3px));
    }
    .event-indicator > .type-bullet {
        padding: 1px;
    }
    .event-indicator > .type-bullet > div.type-event,
    .event-indicator > .type-bullet > div.type-holiday,
    .event-indicator > .type-bullet > div.type-birthday {
        width: 6px;
        height: 6px;
    }
    tr.calendar-body .calendar-day .day.calendar-active,
    tr.calendar-body .calendar-day .day.calendar-active:hover {
        border: none;
    }
    .event-indicator {
        transform: translate(-50%, 0px);
    }
	.calendar-sidebar > .calendar-year > p {
		font-size: 14px;
	}
	.calendar-sidebar > .calendar-year {
		padding: 5px 10px;
	}
	.calendar-sidebar > .calendar-months > li {
		padding: 2px 15px;
	}
}

